.header {

    margin-top: 1em;
    margin-bottom: 0.25em;
}

.converter {
    margin: auto;
    max-width: 70%
}

.container {
    text-align: center;
    align-items: center;
}

.total-container {
    margin-top: 1em;
}

.selector {
    max-width: 5em;
}

.amount-input {
    max-width: 14em;
}

.to-curr {
    background: #f7ffce;
}

.footer-text {
    font-size: 0.85em;
    bottom: 1em;
}